.stickybits {
  background-color: $purple-medium;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  position: fixed;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px $purple-dark;
  text-transform: uppercase;
  @media (min-width: #{$width-medium}) {
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
  }
  &--top {
    border-bottom: 1px solid $purple-dark;
    top: -3rem;
    transition: top .5s ease;
    @media (min-width: #{$width-medium}) {
      top: -4rem;
    }
    [data-scrolldir=up] & {
      top: 0;
    }
  }
  &--bottom {
    border-top: 1px solid $purple-dark;
    bottom: -3rem;
    transition: bottom .5s ease;
    @media (min-width: #{$width-medium}) {
      bottom: -4rem;
    }
    [data-scrolldir=down] & {
      bottom: 0;
    }
  }
}

.main {

}
.header {
  border-bottom: 1px solid $purple-medium;
  color: $purple-dark;
  &__description {
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    padding-bottom: 1rem;
    text-align: center;
    text-shadow: 0 1px 1px white;
    @media (min-width: #{$width-large}) {
      font-size: 3.5rem;
      max-width: $width-medium;
      padding-bottom: 2rem;
    }
  }
  &__nav {
    background: #5c6aa5;
    background: -moz-linear-gradient(top, #5c6aa5 0%, #353f7a 100%);
    background: -webkit-linear-gradient(top, #5c6aa5 0%,#353f7a 100%);
    background: linear-gradient(to bottom, #5c6aa5 0%,#353f7a 100%);
    border-bottom: 1px solid black;
    border-top: 1px solid #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6aa5', endColorstr='#353f7a',GradientType=0 );
    padding: 1rem 0;
  }
  &__items {
    color: white !important;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    padding: 0;
    justify-content: space-around;
    text-decoration: none;
    @media (min-width: #{$width-large}) {
      max-width: $width-medium;
    }
  }
  &__item {
    margin-bottom: 0;
    a {
      color: white !important;
      font-size: .8rem;
      text-decoration: none;
      text-shadow: 0 1px 1px black;
      text-transform: uppercase;
      @media (min-width: #{$width-medium}) {
         font-size: 1.25rem;
      }
    }
  }
}
.share {
  border-top: 1px solid $purple-light;
  padding: 1rem;
  text-align: center;
  @media (min-width: #{$width-large}) {
    padding: 2rem;
  }
  &__link {
    display: inline-block;
    padding: 0 .5rem;
  }
}
