.header {
  &__background {
    background: #ffffff;
    background: linear-gradient(to bottom, #1D2671 0%, #C33764 50%, #ffffff 100%);
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__figcaption {
    color: black;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    padding-bottom: 1rem;
    text-align: center;
    text-shadow: 0 1px 1px white;
    @media (min-width: #{$width-large}) {
      max-width: $width-medium;
    }
    code {
      background-color:  $grey-light;
      font-size: 1.75rem;
    }
  }
}
figure {
  animation: up 2.5s, visible 1.5s;
}

@keyframes up {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes visible {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}
